
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />



    


    <title>Index</title>
</head>
<body class="fondo">
    <h1 class="tx">Welcome To Our Final Proyect</h1>

         @Html.ActionLink("Ingresar","Home","Home", new { @class = "btn btn-outline-dark btn-lg btn-block" })

       

</body>

</html>
